#createButton{
  background: #1d9b72;
  border: none;
  border-radius: 100px;
  bottom:5%;
  color: #b0ddce;
  cursor: pointer;
  height: 75px;
  outline: none;
  position: absolute;
  right: 5%;
  width: 75px;
  z-index: 2;
}

#createButton:hover{
  color: #fff;
}

#createButtonbackground{
  background: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#createProjectModal:before{
  background: #1d9b72;
  content: '';
  display: block;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#createProjectModal{
  background: #eee;
  box-shadow: 0 0 10px 1px #555;
  display: none;
  height: 82%;
  left: 50%;
  margin: auto;
  overflow: hidden;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 3;
}

#createContainer{
  height: 93%;
  overflow-y: scroll;
  padding: 5px;
}

#createContainer::-webkit-scrollbar{
  background: #eee;
  width: 10px;
}

#createContainer::-webkit-scrollbar-thumb{
  background: #eee;
  border-radius: 10px;
}

#createContainer:hover::-webkit-scrollbar-thumb{
  background: #1d9b72;
}

#nprojectFiles{
  display: inline-block;
  margin: 0 auto 0 auto;
}

#createProjectModal tr:nth-child(even){
  background: #56e39f;
}

#createProjectModal th.name{
  text-align: left;
  width: 60%;
}

#createProjectModal th.size, th.extension{
  text-align: center;
  width: 15%;
}

#createProjectModal td:first-child{
  text-align: left;
}

#createProjectModal td:not(:first-child){
  text-align: center;
}

#createUserModal:before{
  background: #1d9b72;
  content: '';
  display: block;
  height: 30px;
  margin: 0;
  padding: 0;
  width: 100%;
}

#createUserModal{
  background: #eee;
  box-shadow: 0 0 10px 1px #555;
  display: none;
  height: 82%;
  left: 50%;
  margin: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 3;
}

#createUserContainer{
  padding: 10px;
}

#createUserModal h3{
  margin: 10px;
  padding: 0;
}

#createUserModal hr{
  margin: 0 5px 0 5px;
}

#imgcontainer{
  display: table;
  margin: 5px auto 0 auto;
  position: relative;
}

#createProjectModal textarea{
  box-sizing: border-box;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  height: 82%;
  margin: 0 auto 0 auto;
  outline: none;
  overflow-x: hidden;
  padding: 5px;
  resize: none;
  width: 96%;
}

#createUserModal img{
  height: 150px;
}

#createProjectModal label{
  display: inline-block;
  font-weight: bold;
  margin: 5px 5px 0 5px;
  text-align: left;
}

#createUserModal label{
  display: inline-block;
  font-weight: bold;
  margin: 5px 5px 0 5px;
}

#createProjectModal input[type=file], #createUserModal input[type=file]{
  display: none;
}

#createProjectModal input, #createUserModal input{
  box-sizing: border-box;
  padding: 5px;
}

#createProjectModal select option{
  padding: 10px;
}

#profimglbl{
  background: #1d9b72;
  border-radius: 60px;
  bottom: 10px;
  color: #b0ddce;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 30px;
}

#profimglbl:hover{
  color: #fff;
}

#malelbl, #femalelbl{
  background: #e4e4e4;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px;
  text-align: center;
  width: 20%;
}

#malerbtn:checked + #malelbl, #femalerbtn:checked + #femalelbl {
  background: #1d9b72;
  color: #fff;
}

#createProjectbackground, #createUserbackground{
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.center{
  text-align: center;
}

.dnone{
  display: none;
}

.p10{
  margin: 5px;
  width: 7%;
}

.p45{
  margin: 5px;
  width: 43%;
}

.p50{
  margin: 5px;
  width: 47%;
}

.p100{
  display: inline;
  margin: 5px;
  padding: 5px;
  width: 96%;
}

.alignRightContainer{
  width: 100%;
}

.fRight{
  float: right;
  margin: 10px;
}

.modalBtn{
  background: #1d9b72;
  border: none;
  color: #b0ddce;
  cursor: pointer;
  outline: none;
  padding: 7px;
  text-align: center;
}

.modalBtn:hover{
  color: #fff;
}

.createSBContainer-hidden{
  bottom: 5%;
  position: absolute;
  visibility: hidden;
  right: 5%;
  transition: all 0.5s ease;
}

.createSBContainer{
  bottom:18%;
  position: absolute;
  visibility: visible;
  right: 5%;
  z-index: 2;
}

.createButtonContainer{
  background: none;
  border: none;
  clear: both;
  cursor: pointer;
  float: right;
  margin: -50px 0 0 0;
  opacity: 0;
  outline: none;
  height: 50px;
  transition: all 1s ease;
  width: 160px;
}

.createButtonContainer-active{
  margin: 20px 0 0 0;
  opacity: 1;
}

.createButtonContainer p{
  float: left;
  line-height: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 60%;
}

.createSpecificButton{
  background: #1d9b72;
  border: none;
  border-radius: 100px;
  color: #b0ddce;
  cursor: pointer;
  float: right;
  line-height: 50px;
  height: 50px;
  outline: none;
  text-align: center;
  width: 50px;
}

.createButtonContainer:hover .createSpecificButton{
  color: #fff;
}

.createButtonContainer:hover p{
  text-decoration: underline;
}

.createButtonbackground{
  display: none;
}

.createButtonbackground-visible{
  display: block;
}
