#optionsButton{
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 30px;
}

#optionsButton:hover{
  color: #000;
}

#options:before {
  border:10px solid #000;
  border-color:transparent transparent #eee;
  color:#000;
  content: '';
  display: block;
  height:0;
  margin:-20px 0 0 153px;
  width:0;
}

#options{
  background: #fff;
  box-shadow: 0 0 10px 1px #555;
  display: none;
  height: 35px;
  position: absolute;
  right: 0;
  top: 65px;
  width: 200px;
  z-index: 3;
}

#options button{
  background: #eee;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: bold;
  height: 100%;
  outline: none;
  width: 100%;
}

#options button:hover{
  text-decoration: underline;
}

#optionsBackground{
  background: none;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#tabButtons{
  display: block;
  height: 50px;
  margin: 0 auto 0 auto;
  width: 100%;
}

#tabButtons button.active{
  border-bottom: 2px solid #1d9b72;
  color: #000;
}

#details table{
  margin: 0 0 0 20px;
  border-color: collapse;
  text-align: left;
}

#details th, td{
  padding: 10px;
}

#colleagues{
  padding: 0 60px 0 60px;
}

.tabButton{
  background: none;
  border: none;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
  color: #999;
  cursor: pointer;
  float: left;
  font-weight: bold;
  outline: none;
  padding: 14px 16px;
  width: 33.33%;
}

.tabButton[disabled]{
  cursor: not-allowed;
  text-decoration: line-through;
}

.tabButton:last-child{
  border-right: none;
}

.tabContent{
  display: none;
  height: 100%;
  padding: 10px 12px;
}
